@model OdeToFood.Entities.Restaurant


<div>Details ....</div>

@if (Model == null)
{
    <div> no data </div>
}
else
{

    <div>ID : @Model.Id</div>
    <div>Name : @Model.Name</div>
    <div>Name : @Model.Cuisine</div>
}


<div>@Html.ActionLink("Back to Home", "Index", "Home")</div>